.hoverZone {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 60vh;
  z-index: 10;
}

.navbarContainer {
  position: fixed;
  top: 50%;
  left: -130px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  background-color: rgba(60, 60, 60, 0.9);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  
  transition: left 0.3s ease;
}

.navbarContainer.show {
  left: 0;
}

.navItem {
  width: 87%;
  padding: 20px;
  padding-right: 0;
  text-align: left;
  color: #f0f0f0;
  
  transition: all 0.25s ease-in;
}

.navItem:first-child {
  border-top-right-radius: 20px;
}

.navItem:last-child {
  border-bottom-right-radius: 20px;
}

.navItem:hover {
  color: #f0f0f0;
  background-color: rgba(255, 255, 255, 0.07);
}