.viewport {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 200vw;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  position: relative;
  box-sizing: border-box;
}

.navButton {
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1rem;
  background: none;
  color: #f9f9f9;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navButton:hover {
  font-size: 1.2rem;
}

.rightButton {
  right: 0;
}

.leftButton {
  left: 0;
}

.projectsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99vw;
  min-height: 180px;
  padding:40px 0;
  overflow-x: auto;
  overflow-y: hidden;
  /* scrollbar-gutter: stable both-edges; */
}

.chartsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 0 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  border-radius: 16px;
}
