.selectSection {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.timerBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
}

.dateTitle {
  font-size: 14px;
  position: absolute;
  top: 0;
}

.timerDisplay {
  padding: 20px;
  margin-left: 68px;
  margin-right: 20px;
}

.timerDisplay span {
  font-family: "Montserrat", sans-serif;
  font-size: 120px;
  font-weight: 700;
  margin-bottom: -1px;
}

.timerButtons {
  display: flex;
  flex-direction: column;
}

.start,
.stop,
.reset {
  color: #f9f9f9;
  border: none;
  border-radius: 100px;
  padding: 10px 10px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.start{
  background-color: #53ae5e;
}

.stop{
  background-color: #d90f26;
}

.reset{
  background-color: #242424;
}

.inactiveButton {
  border-radius: 100px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 12px;
  color: #f9f9f9;
  background-color: transparent;
  pointer-events: none;
  transition: all 250ms ease-in;
}

.inactiveButton:hover {
  background-color: transparent;
  cursor: default;
}

.offButton {
  position: absolute;
  bottom: -10px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 600;
  color: #242424;
  background: #f9f9f9;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.offButton:hover {
  background: #CDCDCD;
}

.currentTimeDetails {
  font-size: 16px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}
.currentTimeDetails span {
  font-weight: 600;
}

.settingsButton {
  position: absolute;
  background: none;
  font-size: 20px;
  bottom: 1.5%;
  right: 0.5%;
}